test.py
SignalLog/
.DS_Store
icon.ico
bgimage.png
Old/
__pycache__/
Templates/
img/
build/
dist/
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vscode/launch.json
.vscode/settings.json
